@import url('https://fonts.googleapis.com/css?family=Press+Start+2P');

* {
	box-sizing: border-box;
}

body {
	font-family: 'Press Start 2P', cursive;
	background-color: #1A1818;
	color: #fff;
}

#header {
	text-align: center;
	max-width: 960px;
	margin: auto;
	margin-bottom: 1.25em;

}

h1 {
	font-size: 4em;
	padding: 32px;
	color: #f00;
}

h2, h3 {
	padding: 20px 0 20px 0;
}

.container {
	max-width: 980px;
	margin: 0 auto;
	overflow: auto;
}

.l-column {
	width: 65%;
	float: left;
}

#hm-image {
	width: 100%;
}

.r-column {
	width: 35%;
	float: left;
	text-align: center;
}

#word-display {
	font-size: 125%;
	padding: 40px 0 30px;
}

#guessed {
	padding-top: 0;
}

#play {
	font-size: 1.5em;
	clear: both;
	text-align: center;
}











